.news-list-category {
	overflow: hidden;
	margin-bottom: 15px;
}
.news-category-title > a, .more-news > a {
	color: #333333;
}
.news-category-title {
	font-size: 16px;
}
.more-news {
	font-size: 14px;
}
