.banner-items {
	margin-top: 20px;
}
.banner-item {
    position: relative;
	margin-bottom: 20px;
	> a {
		display: block;
		width: 100%;
	}
	& img {
		width: 100%;
	}
}
.banner-item-info {
    position: absolute;
    bottom: 0;
	left: 0;
	width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
}
.banner-item-title {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
    align-items: center;
    padding: 0 15px;
	font-size: 18px;
	> a {
		color: #ffffff;
	}
}
